*{ 
    margin: 0;
    padding: 0;
}

body { 
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #eee;
    color: #5D5D5D;
    text-align: justify;
}
.tbox-size{
    width:500;
}
p{ 
    padding: 0 0 12px 0;
    line-height: 1.5em;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 { 
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #43423F;
    margin: 0 0 15px 0;
    padding: 5px 0 5px 0;
}

h2{ 
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #B60000;
    padding: 15px 0 5px 0;
}

h3{ font: normal 165% 'century gothic', arial, sans-serif; }

h4, h5, h6{ 
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #B60000;
}

h5, h6 { 
    font: italic 95% arial, sans-serif;
    color: #888;
}

h6{ color: #362C20; }

a, a:hover{ 
    background: transparent;
    text-decoration: underline;
    color: #51A9FB;
}

a:hover{ 
    text-decoration: none;
    color: #5D5D5D;
}

.left{ 
    float: left;
    width: auto;
    margin-right: 10px;
}

.right{ 
    float: right; 
    width: auto;
    margin-left: 10px;
}

.center{ 
    display: block;
    text-align: center;
    margin: 20px auto;
}

#main{ 
    max-width: 1120px;
    padding: 0 20px 0 20px;
    margin: 0 auto 10px auto;
}

#header{ 
    max-width: 1120px;
    height: 121px;
    background: linear-gradient(to right, #298BBC, #60A868);
    border-bottom: 4px solid #ffffff;
    border-top: 4px solid #765443;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
}

#logo
{ 
    width: 70%;
    float: left;
    position: relative;
    height: 100px;
    background: transparent;
    padding: 10px 0 10px 0;
}

#logo h1, #logo h2 { 
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0 0 0 9px;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
    padding: 0px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
}

#logo_text h1 a .logo_colour { color: #FFF;}

#logo_text h2 { 
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #DFE1C8;
}
#image-logo{
    float: right;
    width: 20%;
    padding: 10px;
}
#image-logo img{
    float: right;
    width: 200px;
}
#navigation_wrap {
    max-width: 1120px;
    margin-top: 15px;
}
.rad_lt:hover{
    border-radius: 15px 0 0 0;
}
.in-content{
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: 3px solid #2f8eb3;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.36);
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    min-height: 173px;
}
.in-content span{
    font-size: 18px;
    line-height: 34px;
    font-weight: bold;
}
.in-content ul{
    padding-left: 20px;
    font-size: 14px;
}
.in-content ul{
    padding: 10px;
}
.wide-box{
    width: 100%;
    max-height: 50px !important;
    text-align: center;
}
.rad_rt:hover{
    border-radius: 0 15px 0 0;
}

.rad_top{
    border-radius: 15px 15px 0 0;
    border-top: 3px solid #ffffff;
    box-shadow: 0 0 3px rgba(0,0,0,.6);
}

#navigation_wrap>ul {
    width: 100%;
}
#navigation_wrap ul {
    background-color: #04658A;
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#navigation_wrap ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 4px 34px;
}

#navigation_wrap ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    list-style:none;
}

#navigation_wrap ul li:hover{
    background: #0BA8B3;
}

#navigation_wrap ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #04658A;
    padding: 0
}

#navigation_wrap ul ul li{
    float:none;
    width:200px
}

#navigation_wrap ul ul a{
    line-height:120%;
    padding:10px 15px
}

#navigation_wrap ul ul ul{
    top:0;
    left:100%
}

#navigation_wrap ul li:hover > ul{
    display:block
}

#site_content{ 
    width: 100%;
    min-height: 480px;
    overflow: hidden;
    padding: 0px;
    background: #fff;
    border-top: 5px solid #fff;
    border-bottom:  5px solid #765443;;
    border-radius: 0 0 15px 15px;
    color: #5D5D5D;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-bottom: 10px;
} 

#sidebar_container{ 
    float: right;
    width: 224px;
    margin-left: 15px; 
    padding: 10px 20px 20px 0;
}

.sidebar_top, .sidebar_base{ 
    width: 100%;
    height: 14px;
}

.sidebar{ 
    float: right;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar_item{ 
    background: #eee;
    padding: 10px 15px;
    border-bottom: 4px solid #876554;
    border-radius: 5px 5px 15px 5px;
    width: 200px;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.36);
}
.sidebar_item img{
    width: 100%;
    border: 3px solid;
    border-color: #04658A;
    border-radius: 208px 208px 0 0 / 58px 58px 0 0;
    box-sizing: border-box;
    box-shadow: 0 3px 8px 2px rgba(96,168,194,.42);
}
.sidebar_item h3{
    text-align: center;
}
.my-title {
    padding: 10px;
    background: linear-gradient(to right, #13547a, #80d0c7);
    border-bottom: 3px solid #fff;
    color: #fff;
    font-size: 17px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.contents-manage{
    padding: 15px 13px 17px 13px;
}
#content{ 
    text-align: left;
    max-width: 800px;
    padding: 15px;
    margin: 0;
}

#content ul{ margin: 2px 0 12px 0px;}

#content ul li{ 
    list-style-type: none;
    background: url(bullet.png) no-repeat;
    margin: 0 0 2px 0; 
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}

.my-filter{
    padding: 6px 16px;
    border-bottom: 1px solid #32aed8;
    overflow: hidden;
}

.right-float{
    float: right;
    right: 0;
    text-align:right;
}

.select-input{
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #32aed8;
    max-width: 165px
}
.login-page{
    background: linear-gradient(to right, #298BBC, #60A868);
    /*background: url('../Img/background.jpg');
    background-size: 100%;*/
}

.user-login {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 300px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #877e7e;
    border-radius: 5px;
    text-align: center;
}
.user-login .thumbnail img {
    display: block;
    border: 3px solid #32aed8;
    border-radius: 5px;
    width: 100%;
    margin: 5px auto;
    box-sizing: border-box;
}
.user-login .thumbnail img:hover {
    border-radius: 50px;
    transition: all 2s ease;
    border: 3px solid #05445A;
}
.input-boxes {
    background: #f2f2f2;
    outline: none;
    width: 100%;
    border: 1px solid #32aed8;
    margin: 5px auto;
    padding: 8px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
}
.input-boxes:focus {
    border: 1px solid #439995;
    background-color:  #e8f8f5;
    color: #000;
    padding: 8px 14px;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.form-button {
    min-width: 300px;
    margin: 8px auto 5px auto;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: linear-gradient(to right, #298BBC, #60A868);
}
.form-button:hover {
    color: #FFFFFF;
    border-radius: 28px;
    transition: all 0.5s ease;
    background: linear-gradient(to right, #60A868, #298BBC);
}
.control-button{
    padding: 5px;
    border: 1px solid #636161;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    outline: none;
}
.delete{
    background-color: #d1382e;
}
.edit{
    background-color: #fff;
    color: #5D5D5D;
}
.view{
    background: linear-gradient(to right, #60A868, #298BBC);
}
.form-input table{
    margin: auto;
}
.user-login .message{
    text-align: center;
    font-size: 14px;
    margin-top: 2px;
}
.top-borrow{
    margin: 15px auto 0 auto;
}
.form-wrap td{
    padding: 1px 4px;
}
.form-wrap{
    padding: 20px;
    margin: auto;
}
.form .form-wrap td input{
    margin: auto;
}
.form-wrap td{
    font-size: 16px;
}
.second-td{
    margin-right: 40px;
}
.calculator table{
    margin: auto;
}
.calculator .calc {
    width: 38px;
    height: 38px;
    margin: 2px;
    border: 1px solid #736283;
    border-radius: 50%;
    font-size: 15px;
    background: linear-gradient(to right, #298BBC, #60A868);
    color: #fff;
}
.calculator .calc:hover{
    background-color: #298BBC;
}
.errors{
    background-color: #fad0d9;
    padding: 5px 5px 0px 5px;
    color: #b5193a;
    border: 1px solid #b5193a;
    border-radius: 4px;
    margin: 4px auto;
    font-size: 13px;
    max-width: 500px;
}
.table-button{
    text-align: center;
}

table{
    border-collapse: collapse;
}

.data-table{
    border-top: 3px solid #ddd;
    width: 100%;
}

.data-table th, .data-table td{
    vertical-align: middle;
    border: 1px solid #298BBC;
}
.data-table th{
    background: linear-gradient(to right, #298BBC, #60A868);
    padding: 5px 3px;
    color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}
.data-table td{
    padding: 4px;
}
.data-table tr:hover {
    background: #ECECEC;
    transition: all 0.1s ease-in-out;
}

#footer{ 
    max-width: 1120px;
    padding: 10px;
    margin: 0 auto;
    border-top: 5px solid #ffffff;
    border-radius: 15px 15px 0 0;
    color: #FFF;
    background: linear-gradient(to right, #298BBC, #60A868);
    box-shadow: 0 0 3px rgba(0,0,0,.6);
}
#footer p{
    text-align: center !important;    
}
#footer a, #footer a:hover{ 
    color: #FFF;
    text-decoration: underline;
}

#footer a:hover{ 
    text-decoration: none;
}

.separator{ 
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}